@charset"UTF-8";
body {
	padding-top: 180px;
	background-color: rgb(134,145,152);
	color: rgb(255,255,255);
}
header {
	text-align: left;
	background-color: rgb(34,145,152);
	color: rgb(150,210,210);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
h1 {
	line-height: 2;
}
.invite {
	padding: 5px;
	border: solid 1px #cbcbcb;
}
.page_hako {
	margin-top: 0.125rem;
	padding: 0.3125rem;
	border: solid 0.0625rem #cbcbcb;
}
#\0030d7\0030ed\0030bb\0030ab\000032DMV {
	margin-bottom: 0.125rem;
}
#\0030d7\0030ed\0030bb\0030ab\000033DMV {
	margin-bottom: 0.125rem;
}
.home {
	padding: 5px;
	border: solid 1px #cbcbcb;
}
footer　{
	position: fixed;
}
