@charset"UTF-8";
body {
	padding-top: 10rem;
	background-color: rgb(134,145,152);
	color: rgb(0,0,0);
}
header {
	text-align: left;
	background-color: rgb(34,145,152);
	color: rgb(0,0,0);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
h1 {
	line-height: 2;
}
a:link{
	background-color: #FFFFFF;
	color: #4455DD;
}
a:visited{
	background-color: #FFFFFF;
	color: #884499;
}
a:hover{
	background-color: #000000;
	color: #EE1166;
}
a:active{
	background-color: #000000;
	color: #88DD44;
}
.invite {
	font-size:1.8rem;
}
.page_hako {
	margin-top: 0.25rem;
	padding: 0.3125rem;
	border: solid 0.0625rem #cbcbcb;
}
.meidaipjsk-icon {
	display: block;
	margin-top: 6rem;
}
#\0030d7\0030ed\0030bb\0030ab\000032DMV {
	margin-bottom: 0.125rem;
}
#\0030d7\0030ed\0030bb\0030ab\000033DMV {
	margin-bottom: 0.125rem;
}
.home {
	padding: 0.3125rem;
	border: solid 0.0625rem #cbcbcb;
}
footer {
	margin-top: 0.5rem;
	border-top: solid 0.0625rem;
}
picture{
	display: block;
}
.quiz{
	margin-bottom: 3rem;
}
li{
	list-style-position: inside;
}
a.link_image{
	background-color: rgb(134,145,152);
}
a.link_image:hover{
	background-color: rgb(0,0,0);
}
.link_content{
	padding-bottom: 1rem;
	border-bottom: solid 0.0625rem;
	border-bottom-color: initial;
}
iframe{
	border:none;
}
a.visiting{
	background-color: rgb(134,145,152);
	color: rgb(0,0,0);
}
