@charset"UTF-8";
body {
	padding-top: 180px;
	background-color: rgba(134,145,152,255);
	color: rgba(255,255,255,255);
}
header {
	text-align: left;
	background-color: rgba(34,145,152,255);
	color: rgba(150,210,210,255);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
.menu{
	display:none;
}
#button{
	display:none;
}
.header-site-menu:checked{
	.menu{
		display:block;
	}
}
h1 {
	line-height: 2;
}
img {
	text-align: right;
}
.invite {
	padding: 5px;
	border: solid 1px #cbcbcb;
}
.home {
	padding: 5px;
	border: solid 1px #cbcbcb;
}
footer　{
	position: fixed;
}
